/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* خلفية داكنة */
    color: #ffffff; /* لون النص */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* جعل الصفحة تأخذ كامل ارتفاع الشاشة */
    flex-direction: column;
}

/* Header Styling */
header {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 3px solid #84ffd2;
}

/* Form Styling (for Sign Up) */
form {
    background-color: #222;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    margin: auto;
}

h1 {
    font-size: 2em;
    color: #84ffd2; /* لون النص الأخضر */
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    color: #84ffd2;
    margin-bottom: 20px;
    text-align: center;
}

/* Inputs and Buttons */
input, button {
    display: block;
    width: 80%;
    padding: 12px;
    margin: 15px auto;
    border-radius: 8px;
    border: 1px solid #555;
    font-size: 1em;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus {
    border-color: #84ffd2;
    outline: none;
}

button {
    background-color: #00cc66; /* زر أخضر */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00d042; /* تغيير عند التمرير */
}

/* Success Message */
.success-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    display: none; /* Hidden by default */
}

.success-message.show {
    display: block;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: #ddd;
    border-top: 3px solid #84ffd2;
}

/* Footer Links */
a {
    color: #84ffd2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Search Section */
.search-section input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #00cc66;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    margin-bottom: 10px;
}

.search-section button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #00cc66;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-section button:hover {
    background-color: #00d042;
}

/* General Styles for Mobile */
@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 20px;
    }

    .search-section input[type="text"] {
        width: 80%;
    }
}
